* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  section {
    height: 100vh;
    background-color: #7159c1;
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    width: 60%;
    margin: 10%;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }
  
  
  /* APARIÇÃO DO FORM */
  form {
    overflow: hidden;
    animation: fade 0.2s;
  }
  
  form .input-block:nth-child(1) {
    animation: move 500ms;
  }
  
  form .input-block:nth-child(2) {
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
  }
  
  form .btn-login {
    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  
  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Quando clicar no botão, sumir com o form */
  .form-hide {
    animation: down 1.2s forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }
  
  /* FORM NO-NO */
  
  form.validate-error {
    animation: nono 200ms linear, fade paused;
    animation-iteration-count: 2;
  }
  
  @keyframes nono {
    0%,
    100% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-15%);
    }
    70% {
      transform: translateX(15%);
    }
  }
  
  /* squares */
  body {
    overflow: hidden;
  }
  .squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite alternate;
    z-index:-1
  }
  
  @keyframes up {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(-800px) rotate(960deg);
    }
  }